
 <ng-template #coverTemplate>
  <img alt="example" nz-image [nzSrc]="currentItem()?.imageUrl!"/>
</ng-template>

<ng-template #comment>
  <span nz-icon class="text-2xl pr-1" (click)="ShowComment()"  nzType="comment" nzTheme="outline"></span>
</ng-template>

<ng-template #edit>
  
  <button nz-button class="text-3xl" [nzType]="'text'" ><span nz-icon  nzType="edit" nzTheme="outline"></span></button>
</ng-template>

<ng-template #tag>
  <h1 class=" font-thin p-1">{{currentItem()?.name}}</h1>
  <div class="flex justify-between">
    <nz-avatar-group class="pb-1 pl-1">
      @for (item of currentItem()?.categories; track item.id) {
        <nz-avatar style="background-color: grey" [nzText]="item.name"></nz-avatar>
      }
  </nz-avatar-group>
  @if (isAdminOrGuest()) {
    <div *ngTemplateOutlet="edit">

    </div>
  }
  <div *ngTemplateOutlet="comment" class="bg-black"></div>
  </div>
</ng-template>

<ng-template #container>
  <div class=" w-full h-full">
    @if (!!currentItem()?.imageUrl) {

      <img alt="example" [src]="currentItem()?.imageUrl"/>
    }
    @else {
      <div class="w-full h-full bg-slate-500 rounded-t-md"></div>
    }
  </div>
</ng-template>

<div  class=" rounded-md border hover:cursor-pointer hover:shadow-md sm:w-80 w-60 flex flex-col space-y-2 h-80">
  <div class=" w-full h-4/6" *ngTemplateOutlet="container">

  </div>
  <div *ngTemplateOutlet="tag" class="flex flex-col space-y-3"></div>
</div>
