
<nz-card nzHoverable  [nzCover]="coverTemplate" [nzActions]="[comment,edit]">
  <nz-card-meta [nzTitle]="currentItem()?.name!" [nzDescription]="tag">
    
  </nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img alt="example" [src]="currentItem()?.imageUrl"/>
</ng-template>

<ng-template #comment>
  <span nz-icon (click)="ShowComment()" nzType="comment" nzTheme="outline"></span>
</ng-template>

<ng-template #edit>
  <span nz-icon nzType="edit" nzTheme="outline"></span>
</ng-template>

<ng-template #tag>
  <div class="flex space-x-2">
    @for (item of currentItem()?.categories; track item.id) {
      <nz-tag [nzColor]="'gray'" [nzMode]="'checkable'">{{item.name}}</nz-tag>
    }
  </div>
</ng-template>
