<nz-layout class="h-screen overflow-hidden" >
  <nz-header [classList]="' bg-white flex justify-between row-span-1 bg-black row-start-1 items-center px-2'">
      <app-logo/>
      <app-nav-bar/>
    <app-profile />
    <!-- <ng-template #profile>
      <app-profile />
    </ng-template>
    <ng-template #navbar>
      <app-profile />
    </ng-template> -->
  </nz-header>
  <nz-layout class="overflow-y-auto h-full w-full grid grid-rows-12">
    <nz-content
      class="row-span-11 row-start-2 row-end-12 h-full"
    >
      <div class="h-full"><router-outlet /></div>
      @if (!(router.url.includes("register") || router.url.includes("login"))) {
        <nz-footer [hidden]="" class="border-t">Ant Design ©2020 Implement By Angular</nz-footer>
      }
    </nz-content>
  </nz-layout>
</nz-layout>
