
<div class="h-screen grid sm:grid-cols-12 sm:grid-rows-6 overflow-hidden grid-cols-2 grid-rows-6">
  <section class="sidebar">
      <div>
        <app-nav-bar/>
      </div>
      <div class="footer">
        <app-footer/>
      </div>
  </section>
  <div class="header">
      <app-header/>
  </div>
  <main>
    @if (items$().data.length>0) {
      <h1>{{ items$().data[0]}}</h1>
    }
    @else {
      <h1>hello</h1>
    }
    <router-outlet />
  
  </main>
  <div class="footer2">
    <app-footer/>
  </div>
</div>



