<div class="h-full grid grid-rows-12 overflow-hidden">
  <div
    class="row-span-1 row-start-1 px-4 rounded-t-md flex justify-between items-center"
  >
    <h1 class="text-gray-700">Item List</h1>
    @if (isAdminOrGuest()) {

      <button
        (click)="toggleModal()"
        class="bg-opacity-50 text-green-400 text-3xl rounded-full"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
      </button>
    }
    @else {
      <div class=" flex">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" class="form-input" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
        </ng-template>
      </div>
    }
  </div>
  <main class="px-4 row-span-10 row-start-2 grid grid-rows-6 overflow-hidden gap-2 grid-cols-1">
    <div class="row-span-2 row-start-1">
      <nz-carousel [nzEffect]="'scrollx'" [nzAutoPlay]="true">
        
        @for (item of items().data; track item.id) {
          <div nz-carousel-content class="">
            <img
            alt="{{ item?.name }}"
            src="{{ item?.imageUrl }}"
            class="h-5/6"
          />
        </div>
      }
      </nz-carousel>
    </div>
    <div class="row-span-4 grid sm:grid-cols-3 md:grid-cols-4 overflow-y-auto xl:grid-cols-6 gap-4 grid-rows-3">

      @if (items().data.length>0) { 
        @for (item of items().data; track item.id) {
        
          <app-itemdetail [currentItem]="item"/>
        } 
    }
    </div>
  </main>
  <div class="row-span-1 px-4  flex justify-end items-center">
    <nz-pagination [nzPageIndex]="1" (nzPageIndexChange)="updatePage($event)" (nzPageSizeChange)="updateLimit($event)" [nzHideOnSinglePage]="true" [nzPageSizeOptions]="[5,10,15,20,25,30]" [nzTotal]="items().totalCount" [nzResponsive]="true" nzShowSizeChanger [nzPageSize]="items().pageSize"></nz-pagination>
  </div>

  @if (open()) {
    <app-add-item [isVisible]="open()" (close)="hiddenModal()" />
  }
</div>
