<div class="flex justify-center items-center h-full bg-gray-500">
    <nz-card class=" shadow-md" nzTitle="Reset Password">
  
    <form [formGroup]="resetPassword" class="flex flex-col space-y-3">
      <div class="flex flex-col space-y-1">
        <label for="name">Email</label>
        <input
          formControlName="email"
          class="form-input"
          type="email"
          name="email"
          placeholder="input email"
        />
      </div>
      <div class="flex flex-col sm:space-y-2 dark:text-gray-300 text-black">
        <label for="newPassword" class="leading-5">Password</label>
        <!-- <input class="form-input" formControlName="password" required [pattern]="'[A-Za-z0-9,;/!/@]{1,}[,;/!/@]*'" [minlength]="8" type="password" name="password" id="password"> -->
        <nz-input-group style="border-radius: 5px;" [nzSuffix]="suffixTemplate">
          <input
            [type]="passwordVisible() ? 'text' : 'password'"
            nz-input
            placeholder="input new password"
            [minlength]="8"
            formControlName="newPassword"
            [required]="true"
            name="newPassword"
            id="newPassword"
          />
        </nz-input-group>
      </div>
      <div class="flex flex-col">
        <button nz-button [nzLoading]="isSubmit()" (click)="ResetPassword();isSubmit.set(true)" [disabled]="resetPassword.invalid">Submit</button>
      </div>
    </form>
    </nz-card>
</div>
<ng-template #suffixTemplate>
    <span
      nz-icon
      [nzType]="passwordVisible() ? 'eye-invisible' : 'eye'"
      (click)="passwordVisible.set(!passwordVisible())"
    ></span>
  </ng-template>


