<nav>
    <a routerLink="/home" class="flex space-x-2 items-center leading-10" routerLinkActive="active"  ariaCurrentWhenActive="page" [routerLinkActiveOptions]={exact:true} mat-fab aria-label="Example icon button with a add icon">
        
        <span class="">Home</span>
    </a>
    <a routerLink="/items" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]={exact:true}>Items</a>
    <a routerLink="/admin/users" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]={exact:true}>Users</a>
</nav>
