<!-- <div class="clearfix w-96 bg-black">
  <nz-upload
    nzListType="picture"
    class="upload-list-inline"
    [nzAccept]="'image/*'"
    (nzChange)="PostPicture($event);isSubmit.set(true)"
    [className]="'w-full'"
  >
    <button nz-button [nzLoading]="isSubmit()" [nzSize]="'default'">
      <span nz-icon nzType="upload"></span>
      Upload
    </button>
  </nz-upload>
</div> -->

  <div class="flex space-x-1">
    <nz-upload [(nzFileList)]="fileList" [nzLimit]="1" [nzFileListRender]="null" [nzAccept]="'image/*'" [nzBeforeUpload]="beforeUpload" (nzChange)="PostPicture($event)">
      <button nz-button class="w-full">
        <span nz-icon nzType="upload"></span>
        Select File
      </button>
    </nz-upload>

    <!-- <nz-upload
      nzType="drag"
      [nzMultiple]="true"
      (nzChange)="PostPicture($event)"
      [nzSize]="'small'"
      [nzAccept]="'image/*'"
    >
      <p class="ant-upload-drag-icon">
        <span nz-icon nzType="inbox"></span>
      </p>
      <p class="ant-upload-text">Click or drag picture to this area to upload</p>
      <p class="ant-upload-hint">
        you can select one and many file(s)
      </p>
    </nz-upload> -->
  
    <!-- <button
    nz-button
    [nzType]="'primary'"
    [nzLoading]="uploading"
    (click)="handleUpload()"
    [disabled]="fileList.length === 0"
    style="margin-top: 16px"
  >
    {{ uploading ? 'Uploading' : 'Start Upload' }}
  </button>
  </div> -->

