<div class="profile">
  @if (isAuthenticate()) {
    <a routerLink="#" class="flex space-x-2 items-center" nz-dropdown [nzDropdownMenu]="menu">
      @if(currentUser()!==undefined){
        
        <nz-avatar nzSize="large" [nzSrc]="currentUser()?.profile??'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png'" [nzAlt]="currentUser()?.email"></nz-avatar>
        <h6 class="text-sm font-sans">{{currentUser()?.email}}</h6>
        <span nz-icon nzType="down"></span>
      }
    </a>
  }
  @else {
    <nav class="flex space-x-3 mr-5">
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </nav>
  }
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>Profile</li>
      <li nz-menu-item>Contact</li>
      <li nz-menu-divider></li>
      <li nz-menu-item (click)="logOut()">Logout</li>
      <li nz-menu-item nzDisabled>About</li>
    </ul>
  </nz-dropdown-menu>
</div>
