<nz-modal
  [nzVisible]="isVisible()"
  nzTitle="Confirm Email"
  (nzOnCancel)="handleCancel()"
  [nzMask]="true"
  [nzFooter]="null"
  [nzCancelText]="null"
  [nzOkText]="null"
  [nzWidth]="300"
>
  <ng-container *nzModalContent>
    <form [formGroup]="forget" class="flex flex-col space-y-3">
      <div class="flex flex-col space-y-1">
        <label for="name">Email</label>
        <input
          formControlName="email"
          class="form-input"
          type="email"
          name="email"
        />
      </div>
      <div class="flex flex-col">
        <button nz-button [nzLoading]="isSubmit()" (click)="ForgetPassword();isSubmit.set(true)" [disabled]="forget.invalid">Submit</button>
      </div>
    </form>
  </ng-container>
</nz-modal>


