<div class="flex justify-center items-center h-full bg-gray-500">
  <nz-card class=" shadow-md" [nzTitle]="'Create your account'">

    <form [formGroup]="register" class="flex flex-col space-y-4" appSamevalidator   (ngSubmit)="isSubmit.set(true);submitForm()">
      <div class="flex flex-col space-y-2 dark:text-gray-300 text-black">
          <label for="email" class="leading-5">Email</label>
          <input class="form-input" formControlName="email" required [email]="true"  type="email" name="email" id="email">
      </div>

      <div class="flex flex-col sm:space-y-2 dark:text-gray-300 text-black">
        <label for="password" class="leading-5">Password</label>
        <input class="form-input" formControlName="password" required [pattern]="'[A-Za-z0-9,;/!/@]{1,}[,;/!/@]*'" [minlength]="8" type="password" name="password" id="password">
      </div>

      <div  class="flex flex-col space-y-2 dark:text-gray-300 text-black">
        <label for="confirm" class="leading-5">ConfirmPassword</label>
        <input class="form-input" formControlName="confirm" required  [pattern]="'[A-Za-z0-9,;/!/@]{1,}[,;/!/@]*'" [minlength]="8"  type="password" name="confirm" id="confirm">
      </div>
      <div class="flex flex-col space-y-2">
        <button nz-button nzType="primary" [nzLoading]="isSubmit()" [disabled]="register.invalid" >Submit</button>
        <span>You already have account <a routerLink="/login">SignIn</a></span> 
      </div>
    </form> 
  </nz-card>
</div>

    